@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.addCircle{
    color: rgb(76,152,79);
    color: rgb(53,119,203);
    font-size: 25px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.addCircle:hover{
    color: rgb(51	105	60);
    color: rgb(21, 58, 106);
    box-shadow: 5px 5px 5px 5px solid black;
}







.productList{
    flex: 4;
    padding: 50px;
    width: 300px;
}

.productListItem {
    display: flex;
    align-items: center;
}

.commonActionIcons{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 30px;
}

.commonActionIcons, .productListDelete{
    color: rgb(195,63,56);
    
}

.commonActionIcons, .productListEdit{
    color: rgb(76,152,79);
    
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.actionBtn{
    display: flex;
    align-items: flex-end;
}

.productAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}
